<div>
    <div class="container">
        <header>
            <h3>Browse Ad Screens</h3>
        </header>
        <div>
            <div class="row">
                <div>
                    <table class="AdScreensTable">
                        <thead>
                            <tr>
                                <th data-ng-click="setOrder('id')">ID</th>
                                <th data-ng-click="setOrder('name')">Name</th>
                                <th>Texts</th>
                                <th>Pictures</th>
                                <th data-ng-click="setOrder('templateLink')">Template</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Day</th>
                                <th>Time</th>
                                <th>Screens</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-hide="adScreens || adScreens.length > 0" class="error">
                                <td colspan="4">
                                    <div class="text-center"><strong>No screens found</strong></div>
                                </td>
                            </tr>
                            <tr data-ng-repeat="screen in adScreens">
                                <td>
                                    {{ screen.id }}
                                </td>
                                <td>
                                    {{ screen.Name }}
                                </td>
                                <td>
                                    <table>
                                        <tr data-ng-repeat="text in screen.Texts">
                                            <td>
                                                {{ text }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>

                                </td>
                                <td>
                                    {{ screen.TemplateLink | filename }}
                                </td>
                                <td>
                                    {{screen.PresentationTime.startAirDate}}
                                </td>
                                <td>
                                    {{screen.PresentationTime.endAirDate}}
                                </td>
                                <td>
                                    <table>
                                        <tr ng-repeat="n in [screen.PresentationTime.presentationDays.length] | makeRange">
                                            <td>
                                               {{ screen.PresentationTime.presentationDays[n] | numToDay }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr ng-repeat="n in [screen.PresentationTime.presentationDays.length] | makeRange">
                                            <td>
                                                from {{screen.PresentationTime.AirTime[n].start }} to {{screen.PresentationTime.AirTime[n].end}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr data-ng-repeat="screenId in screen.Screens">
                                            <td>
                                                {{ screenId }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>