<!DOCTYPE html>
<html data-ng-app="AdScreenManager">
<head>
    <title>Ad Screens Manager</title>
    <link href="../content/AdScreenManagerStyles.css" rel="stylesheet" />
</head>
<body>
<div>
    <nav>
        <ul class="nav nav-pills" data-ng-controller="NavbarController">
            <li data-ng-class="{'active':getClass('/AdScreensManager')}"><a href="#/AdScreensManager">Screens</a></li>
            <li data-ng-class="{'active':getClass('/ScreenEdit')}"><a href="#/ScreenEdit">Edit</a></li>
        </ul>
    </nav>
</div>
<div ng-view=""></div>
<div>
<footer>Test footer</footer>
</div>

<!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
<script src="../TestForFinal/scripts/angular.js"></script>
<script src="../TestForFinal/scripts/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>


<!-- App libs -->
<script src="../app.js"></script>
<script src="../app/controllers/AdScreensController.js"></script>
<script src="../app/controllers/ScreenEditController.js"></script>
<script src="../app/controllers/NavbarController.js"></script>

<script src="../app/services/AdScreenService.js"></script>

<script src="../app/filters/filenameFilter.js"></script>
<script src="../app/filters/makeRangeFilter.js"></script>
<script src="../app/filters/numToDayFilter.js"></script>

</body>
</html>